* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }

html { font-size: 62.5%; }
body { font-size: 1.6em; line-height: 1.4; }

article > * + * { margin-top: 1em; }

article {
    box-sizing: content-box;
    max-width: 80ch;
    margin: auto;
    padding-left:  4vmin;
    padding-right: 4vmin;

}


